*{
	text-decoration: none;
}
h1, h2{
	color: red ;
	text-align: center ;
}

table {
  width:100%
} th {
  background:#666;
  color:#fff;
} td {
  padding:5px;
}
.delete_btn{
	 background: #F6F1F1;
     color: orange;
     border-radius: 5px;
}
.delete_btn:hover{
	background: #CDB3B3;
}
